{% extends 'layout.html' %}

{% block content %}	
<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Wind 🍃 Power Detector</strong></h2>
      
      <a class="btn btn-outline-white btn-md" href="/get_started"><i class="fas fa-clone left"></i>Get Started</a>
    </div>
  </div>
</div>

<div class = "container">

</div>
{% endblock content %}